<div class="text-center">
  <h1>AI vs Human Authorship Perception Analytics</h1>

  <iframe
    src="https://lookerstudio.google.com/embed/reporting/f7f72756-0d47-4f40-92d8-35d66825efac/page/kIV1C"
    frameborder="0"
    allowfullscreen
    sandbox="allow-storage-access-by-user-activation allow-scripts allow-same-origin allow-popups allow-popups-to-escape-sandbox"
  ></iframe>

  <div class="d-flex justify-content-center m-2">
    <div class="card">
      <div class="card-body">
        <h1>
          {{totalParticipants.tot}}
        </h1>
      </div>
      <div class="card-footer">
        Total Participants
      </div>
    </div>
  </div>

  <div class="m-auto">
    <button
      class="sd-btn sd-navigation__next-btn"
      [class.disactive]="filter !== 'ai'"
      (click)="filter = 'ai'"
    >
      AI Authorship:
      {{totalParticipants.ai}}
    </button>
    <button
      class="sd-btn sd-navigation__next-btn"
      [class.disactive]="filter !== 'human'"
      (click)="filter = 'human'"
    >
      Human Authorship:
      {{totalParticipants.human}}
    </button>
  </div>
  <div class="m-auto d-flex justify-content-center">
    <p class="m-2">
      <progress value="{{results.ai}}" max="100"></progress><br>
      {{results.ai | number: '1.2-2'}}% (σ = {{results.ai_std | number: '1.2-2'}})
    </p>
    <p class="m-2">
      <progress value="{{results.human}}" max="100"></progress><br>
      {{results.human | number: '1.2-2'}}% (σ = {{results.human_std | number: '1.2-2'}})
    </p>
  </div>
  <h3 class="m-4">
    {{results.valid ? 'The difference is statistically significant' : 'The difference is not statistically significant'}}<br>
    Δ = {{results.human - results.ai | number: '1.2-2'}}%
  </h3>

  <hr>

  <h2>Pre-survey Results</h2>
  <survey-analytics
    class="d-block"
    [surveyJson]="json[0]"
    [results]="data"
    *ngIf="data"
  ></survey-analytics>

  <h2>Word Cloud</h2>

  <div class="d-flex justify-content-center m-2">
    <div class="card">
      <div class="card-body">
        <angular-d3-cloud
          [data]="wordCloud"
          [width]="700"
          [height]="600"
          [padding]="5"
          font="sans-serif"
          [rotate]="0"
          [autoFill]="true"
        ></angular-d3-cloud>
      </div>
      <div class="card-footer">
        Word Cloud of Analyzed Texts
      </div>
    </div>
  </div>

  <h2>Post-survey Results</h2>

  <survey-analytics
    class="d-block"
    [surveyJson]="json[1]"
    [results]="data"
    *ngIf="data"
  ></survey-analytics>
</div>
