<ng-container *ngIf="consent === 'true'">
  <survey
    [model]="postSurvey"
    (submitSurvey)="sendData($event, 'post'); state = status.LEADERBOARD"
    *ngIf="state === status.POST"
  ></survey>
  <survey
    [model]="preSurvey"
    (submitSurvey)="sendData($event, 'pre'); state = status.WAITING; start()"
    *ngIf="state === status.PRE"
  ></survey>

  <ng-container *ngFor="let step of textToShow; let idx = index">
    <div *ngIf="currentText === idx + 1" class="w-75 mx-auto w-md-50 mt-4">
      <h5 class="text-center">
        {{ step.text.title }}
      </h5>
      <p>
        <br />
        <span class="badge bg-warning text-center w-100 text-dark">
          Read the text below carefully and evaluate it.<br />
          When you are ready, please click "Next" to continue.
        </span>
      </p>
      <pre
        class="text-break text-wrap p-3 border rounded"
        [innerHTML]="markdownToHtml(step.text.text)"
      ></pre>
      <div class="badge bg-dark text-uppercase" *ngIf="step.text.labeled">
        {{ step.text.type }}
        {{ step.text.type === "ai" ? "Bot" : step.text.author }}
      </div>
      <hr />
      <div class="d-block my-3">
        <label class="form-label font-weight-bold text-center w-100"
          >Who do you think is the author of this text?</label
        >
          <input
            type="range"
            class="form-range custom-slider"
            min="0"
            max="10"
            step="1"
            [(ngModel)]="step.humanSoundness"
            [ngClass]="{ unconfirmed: !interacted.humanSoundness }"
            (change)="markInteracted('humanSoundness')"
            (mousedown)="markInteracted('humanSoundness')"
            (touchstart)="markInteracted('humanSoundness')"
          />
        <div class="d-flex justify-content-between">
          <span class="w-33">AI</span>
          <span class="w-33 text-center" *ngIf="interacted.humanSoundness"> {{ step.humanSoundness }} / 10 </span>
          <span class="w-33 text-end">Human</span>
        </div>
      </div>
      <div class="d-block my-3">
        <label class="form-label font-weight-bold text-center w-100"
          >How would you rate this text?</label
        >
        <input
          type="range"
          class="form-range with-ticks"
          min="0"
          max="10"
          step="1"
          [(ngModel)]="step.evaluation"
          [ngClass]="{ unconfirmed: !interacted.evaluation }"
          (change)="markInteracted('evaluation')"
          (mousedown)="markInteracted('evaluation')"
          (touchstart)="markInteracted('evaluation')"
        />
        <div class="d-flex justify-content-between">
          <span class="w-33">Very bad</span>
          <span class="w-33 text-center" *ngIf="interacted.evaluation"> {{ step.evaluation }} / 10 </span>
          <span class="w-33 text-end">Very good</span>
        </div>
      </div>
      <div class="d-flex justify-content-end mt-3">
        <button
          class="btn btn-warning text-dark"
          (click)="nextText()"
          [disabled]="!allInteracted()"
        >
          Next
        </button>
      </div>
    </div>
  </ng-container>
</ng-container>
