<ng-container *ngIf="consent === 'true'">
  <survey
    [model]="postSurvey"
    (submitSurvey)="sendData($event, 'post'); state = status.LEADERBOARD"
    *ngIf="state === status.POST"
  ></survey>

  <survey
    [model]="preSurvey"
    (submitSurvey)="sendData($event, 'pre'); state = status.WAITING; start()"
    *ngIf="state === status.PRE"
  ></survey>
<div class="p-4">
  <ng-container
    *ngIf="
      [status.TEXT1, status.TEXT2, status.TEXT3, status.TEXT4].includes(state)
    "
  >
    <ng-container *ngFor="let step of textToShow; let idx = index">
      <div *ngIf="currentText === idx + 1" class="w-md-100 mx-auto w-lg-75 mt-4">
        <p>
          <br />
          <span
            class="badge bg-warning text-center w-100 p-3 fs-6 lh-base text-dark text-break text-wrap"
          >
            Read the text below carefully and answer the questions.<br />
            When you are done, please click "Next" to continue.
          </span>
        </p>

        <h5 class="text-left text-break text-wrap p-3 border rounded">
          {{ step.text.title }}
        </h5>

        <div class="border rounded">
          <div
            class="badge text-uppercase p-3"
            style="display: flex; align-items: center; gap: 10px"
          >
            <img
              [src]="
                step.text.labeled
                  ? step.text.type === 'ai'
                    ? 'assets/profiles/Bot.jpg'
                    : 'assets/profiles/' + step.text.author + '.jpg'
                  : 'assets/profiles/QuestionMark.jpg'
              "
              [attr.alt]="
                step.text.labeled
                  ? step.text.type === 'ai'
                    ? 'Bot profile image'
                    : step.text.author + '\'s profile image'
                  : 'Unknown profile image'
              "
              style="
                width: 50px;
                height: 50px;
                border-radius: 50%;
                object-fit: cover;
              "
            />
            <div class="p-2">
              {{
                step.text.labeled
                  ? step.text.type === "ai"
                    ? "Bot"
                    : step.text.author
                  : "Unknown"
              }}
            </div>
          </div>

          <div
            class="text-break text-wrap p-3"
            [innerHTML]="markdownToHtml(step.text.text)"
          ></div>
        </div>
        <hr />

        <div class="d-block my-3">
          <label class="form-label font-weight-bold text-center w-100">
            Who do you think is the author of this text?
          </label>
          <input
            type="range"
            class="form-range custom-slider"
            min="0"
            max="10"
            step="1"
            [(ngModel)]="step.humanSoundness"
            [ngClass]="{ unconfirmed: !interacted.humanSoundness }"
            (change)="markInteracted('humanSoundness')"
            (mousedown)="markInteracted('humanSoundness')"
            (touchstart)="markInteracted('humanSoundness')"
          />
          <div class="d-flex justify-content-between">
            <span class="w-33">AI</span>
            <span class="w-33 text-center" *ngIf="interacted.humanSoundness">
              {{ step.humanSoundness }} / 10
            </span>
            <span class="w-33 text-end">Human</span>
          </div>
        </div>

        <div class="d-block my-3">
          <label class="form-label font-weight-bold text-center w-100">
            How would you rate this text?
          </label>
          <input
            type="range"
            class="form-range with-ticks"
            min="0"
            max="10"
            step="1"
            [(ngModel)]="step.evaluation"
            [ngClass]="{ unconfirmed: !interacted.evaluation }"
            (change)="markInteracted('evaluation')"
            (mousedown)="markInteracted('evaluation')"
            (touchstart)="markInteracted('evaluation')"
          />
          <div class="d-flex justify-content-between">
            <span class="w-33">Very bad</span>
            <span class="w-33 text-center" *ngIf="interacted.evaluation">
              {{ step.evaluation }} / 10
            </span>
            <span class="w-33 text-end">Very good</span>
          </div>
        </div>

        <div class="d-flex justify-content-end mt-3">
          <button
            class="btn btn-warning text-dark"
            (click)="nextText()"
            [disabled]="!allInteracted()"
          >
            Next
          </button>
        </div>
      </div>
    </ng-container>
  </ng-container>
  <ng-container *ngIf="[status.TEXT5].includes(state)">
    <ng-container *ngFor="let step of lastTextToShow; let idx = index">
      <div class="w-md-100 mx-auto w-lg-75 mt-4">
        <p>
          <br />
          <span
            class="badge bg-warning text-center w-100 p-3 fs-6 lh-base text-dark text-break text-wrap"
          >
            Read the text below carefully and answer the questions.<br />
            Highlight in the text anything that seems incorrect to you. <br />
            When you are done, please click "Next" to continue.
            <hr>
            <b>
              <i class="fa fa-exclamation-triangle"></i>
              Moreover, in this last step, you will be asked to highlight words or phrases that you think are wrong or need improvement.
              <i class="fa fa-exclamation-triangle"></i>

            </b>
          </span>
        </p>


        <h5 class="text-left text-break text-wrap p-3 border rounded">
          {{ step?.lastText?.title }}
        </h5>

        <div class="border rounded" >
          <div
            class="badge text-uppercase p-3"
            *ngIf="step?.lastText"
            style="display: flex; align-items: center; gap: 10px"
          >
            <img
              [src]="
                step.lastText.labeled
                  ? step.lastText.type === 'ai'
                    ? 'assets/profiles/Bot.jpg'
                    : 'assets/profiles/' + step.lastText.author + '.jpg'
                  : 'assets/profiles/QuestionMark.jpg'
              "
              [attr.alt]="
                step.lastText.labeled
                  ? step.lastText.type === 'ai'
                    ? 'Bot profile image'
                    : step.lastText.author + '\'s profile image'
                  : 'Unknown profile image'
              "
              style="
                width: 50px;
                height: 50px;
                border-radius: 50%;
                object-fit: cover;
              "
            />
            <div class="p-2">
              {{
                step?.lastText?.labeled
                  ? step?.lastText?.type === "ai"
                    ? "Bot"
                    : step?.lastText?.author
                  : "Unknown"
              }}
            </div>
          </div>
          <app-text-highlight
            [textContent]="markdownToHtml(step.lastText.text)"
            (highlightSectionsChange)="step.highlightSections = $event"
          >

          </app-text-highlight>
        </div>
        <hr />
        <div class="d-block my-3" *ngIf="step">
          <label class="form-label font-weight-bold text-center w-100">
            Who do you think is the author of this text?
          </label>
          <input
            type="range"
            class="form-range custom-slider"
            min="0"
            max="10"
            step="1"
            [(ngModel)]="step.humanSoundness"
            [ngClass]="{ unconfirmed: !interacted.humanSoundness }"
            (change)="markInteracted('humanSoundness')"
            (mousedown)="markInteracted('humanSoundness')"
            (touchstart)="markInteracted('humanSoundness')"
          />
          <div class="d-flex justify-content-between">
            <span class="w-33">AI</span>
            <span class="w-33 text-center" *ngIf="interacted.humanSoundness">
              {{ step.humanSoundness }} / 10
            </span>
            <span class="w-33 text-end">Human</span>
          </div>
        </div>
        <div class="d-block my-3" *ngIf="step">
          <label class="form-label font-weight-bold text-center w-100">
            How would you rate this text?
          </label>
          <input
            type="range"
            class="form-range with-ticks"
            min="0"
            max="10"
            step="1"
            [(ngModel)]="step.evaluation"
            [ngClass]="{ unconfirmed: !interacted.evaluation }"
            (change)="markInteracted('evaluation')"
            (mousedown)="markInteracted('evaluation')"
            (touchstart)="markInteracted('evaluation')"
          />
          <div class="d-flex justify-content-between">
            <span class="w-33">Very bad</span>
            <span class="w-33 text-center" *ngIf="interacted.evaluation">
              {{ step.evaluation }} / 10
            </span>
            <span class="w-33 text-end">Very good</span>
          </div>
        </div>
        <div class="d-flex justify-content-between mt-3 gap-3">
          <div class="text-danger text-small">
          <span *ngIf="!step?.highlightSections?.length" class="text-danger d-block">
            Ops, before proceeding, you need to highlight at least one error in the text.<br>
          </span>
          <span *ngIf="!allInteracted()" class="text-danger d-block">
            Ops, before proceeding, you need to answer all the questions.
          </span>
          </div>
          <button
            class="btn btn-warning text-dark"
            (click)="toPostSurvey()"
            [disabled]="!allInteracted() || !step?.highlightSections?.length"
          >
            Next
          </button>
        </div>
      </div>
    </ng-container>
  </ng-container>
</div>
</ng-container>
