<ng-container *ngIf="consent === 'true'">
  <survey 
    [model]="postSurvey"
    (submitSurvey)="sendData($event, 'post'); state = status.LEADERBOARD"
    *ngIf="state === status.POST"
  ></survey>

  <survey
    [model]="preSurvey"
    (submitSurvey)="sendData($event, 'pre'); state = status.WAITING; start()"
    *ngIf="state === status.PRE"
  ></survey>
  <div class="p-4">
    <ng-container
      *ngIf="
        [status.TEXT1, status.TEXT2, status.TEXT3, status.TEXT4].includes(state)
      "
    >
      <ng-container *ngFor="let step of textToShow; let idx = index">
        <div
          *ngIf="currentText === idx + 1"
          class="w-md-100 mx-auto w-lg-75 mt-4"
        >
          <p>
            <br />
            <span
              class="badge bg-warning text-center w-100 p-3 fs-6 lh-base text-dark text-break text-wrap"
            >
              Read the text below carefully and answer the questions.<br />
              <hr />
              When you are done, please click "Next" to continue.
            </span>
          </p>

          <h5 class="text-left text-break text-wrap p-3 border rounded">
            {{ step.text.title }}
          </h5>

          <div class="border rounded">
            <div
              class="badge text-uppercase p-3"
              style="display: flex; align-items: center; gap: 10px"
            >
              <img
                [src]="
                  step.text.labeled
                    ? step.text.type === 'ai'
                      ? 'assets/profiles/bot.png'
                      : 'assets/profiles/human.png'
                    : 'assets/profiles/QuestionMark.jpg'
                "
                [attr.alt]="
                  step.text.labeled
                    ? step.text.type === 'ai'
                      ? 'Bot profile image'
                      : 'Human profile image'
                    : 'Unknown profile image'
                "
                style="
                  width: 50px;
                  height: 50px;
                  border-radius: 50%;
                  object-fit: cover;
                "
              />
              <div class="p-2">
                {{
                  step.text.labeled
                    ? step.text.type === "ai"
                      ? "AI author"
                      : "Human author"
                    : "Unknown author"
                }}
              </div>
            </div>

            <div
              class="text-break text-wrap p-3"
              [innerHTML]="markdownToHtml(step.text.text)"
              [appCstTracker]="'text-' + idx"
            ></div>
          </div>
          <hr />

          <div class="d-block my-3">
            <label class="form-label font-weight-bold text-center w-100">
              Who do you think is the author of this text?
            </label>
            <input
              type="range"
              class="form-range custom-slider"
              min="0"
              max="10"
              step="1"
              [(ngModel)]="step.humanSoundness"
              [ngClass]="{ unconfirmed: !interacted.humanSoundness }"
              (change)="markInteracted('humanSoundness')"
              (mousedown)="markInteracted('humanSoundness')"
              (touchstart)="markInteracted('humanSoundness')"
            />
            <div class="d-flex justify-content-between">
              <span class="w-33">AI</span>
              <span class="w-33 text-center" *ngIf="interacted.humanSoundness">
                {{ step.humanSoundness }} / 10
              </span>
              <span class="w-33 text-end">Human</span>
            </div>
          </div>

          <div class="d-block my-3">
            <label class="form-label font-weight-bold text-center w-100">
              How would you rate the <b>accuracy</b> of this text? (precision, correctness)
            </label>
            <input
              type="range"
              class="form-range with-ticks"
              min="0"
              max="10"
              step="1"
              [(ngModel)]="step.accuracy"
              [ngClass]="{ unconfirmed: !interacted.accuracy }"
              (change)="markInteracted('accuracy')"
              (mousedown)="markInteracted('accuracy')"
              (touchstart)="markInteracted('accuracy')"
            />
            <div class="d-flex justify-content-between">
              <span class="w-33">Very low</span>
              <span class="w-33 text-center" *ngIf="interacted.accuracy">
                {{ step.accuracy }} / 10
              </span>
              <span class="w-33 text-end">Very high</span>
            </div>
          </div>

          <div class="d-block my-3">
            <label class="form-label font-weight-bold text-center w-100">
              How would you rate the <b>readability</b> of this text? (tone, style)
            </label>
            <input
              type="range"
              class="form-range with-ticks"
              min="0"
              max="10"
              step="1"
              [(ngModel)]="step.readability"
              [ngClass]="{ unconfirmed: !interacted.readability }"
              (change)="markInteracted('readability')"
              (mousedown)="markInteracted('readability')"
              (touchstart)="markInteracted('readability')"
            />
            <div class="d-flex justify-content-between">
              <span class="w-33">Very low</span>
              <span class="w-33 text-center" *ngIf="interacted.readability">
                {{ step.readability }} / 10
              </span>
              <span class="w-33 text-end">Very high</span>
            </div>
          </div>

          <div class="d-flex justify-content-end mt-3 gap-3">
            <div class="text-warning text-small">
              <span *ngIf="!allInteracted()" class="text-warning d-block">
                Ops, before proceeding, you need to answer all the questions.
              </span>
            </div>
            <button
              class="btn btn-warning text-dark"
              (click)="nextText()"
              [disabled]="!allInteracted()"
            >
              Next
            </button>
          </div>
        </div>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="[status.TEXT5].includes(state)">
      <ng-container *ngFor="let step of lastTextToShow; let idx = index">
        <div
          class="text-container"
          [appCstTracker]="'text-5'"
          
        ></div>
        <div class="w-md-100 mx-auto w-lg-75 mt-4">
          <p>
            <br />
            <span
              class="badge bg-warning text-center w-100 p-3 fs-6 lh-base text-dark text-break text-wrap"
            >
              Read the text below carefully and answer the questions.<br />
              Highlight in the text anything that seems incorrect to you. <br />
              <hr />
              <b>
                <!-- <i class="fa fa-exclamation-triangle"></i> -->
                Moreover, in this last step, you will be asked to highlight
                words or phrases that you think are wrong or need improvement.
                <br />
                <hr />
                When you are done, please click "Next" to continue.
              </b>
            </span>
          </p>

          <h5 class="text-left text-break text-wrap p-3 border rounded">
            {{ step?.lastText?.title }}
          </h5>

          <div class="border rounded">
            <div
              class="badge text-uppercase p-3"
              *ngIf="step?.lastText"
              style="display: flex; align-items: center; gap: 10px"
            ></div>
            <app-text-highlight
              [textContent]="markdownToHtml(step.lastText.text)"
              (highlightSectionsChange)="step.highlightSections = $event"
            >
            </app-text-highlight>
          </div>
          <hr />
          <div class="d-block my-3" *ngIf="step">
            <label class="form-label font-weight-bold text-center w-100">
              Who do you think is the author of this text?
            </label>
            <input
              type="range"
              class="form-range custom-slider"
              min="0"
              max="10"
              step="1"
              [(ngModel)]="step.humanSoundness"
              [ngClass]="{ unconfirmed: !interacted.humanSoundness }"
              (change)="markInteracted('humanSoundness')"
              (mousedown)="markInteracted('humanSoundness')"
              (touchstart)="markInteracted('humanSoundness')"
            />
            <div class="d-flex justify-content-between">
              <span class="w-33">AI</span>
              <span class="w-33 text-center" *ngIf="interacted.humanSoundness">
                {{ step.humanSoundness }} / 10
              </span>
              <span class="w-33 text-end">Human</span>
            </div>
          </div>
          <div class="d-block my-3" *ngIf="step">
            <label class="form-label font-weight-bold text-center w-100">
              How would you rate the <b>accuracy</b> of this text? (precision, correctness)
            </label>
            <input
              type="range"
              class="form-range with-ticks"
              min="0"
              max="10"
              step="1"
              [(ngModel)]="step.accuracy"
              [ngClass]="{ unconfirmed: !interacted.accuracy }"
              (change)="markInteracted('accuracy')"
              (mousedown)="markInteracted('accuracy')"
              (touchstart)="markInteracted('accuracy')"
            />
            <div class="d-flex justify-content-between">
              <span class="w-33">Very low</span>
              <span class="w-33 text-center" *ngIf="interacted.accuracy">
                {{ step.accuracy }} / 10
              </span>
              <span class="w-33 text-end">Very high</span>
            </div>
          </div>

          <div class="d-block my-3" *ngIf="step">
            <label class="form-label font-weight-bold text-center w-100">
              How would you rate the <b>readability</b> of this text? (tone, style)
            </label>
            <input
              type="range"
              class="form-range with-ticks"
              min="0"
              max="10"
              step="1"
              [(ngModel)]="step.readability"
              [ngClass]="{ unconfirmed: !interacted.readability }"
              (change)="markInteracted('readability')"
              (mousedown)="markInteracted('readability')"
              (touchstart)="markInteracted('readability')"
            />
            <div class="d-flex justify-content-between">
              <span class="w-33">Very low</span>
              <span class="w-33 text-center" *ngIf="interacted.readability">
                {{ step.readability }} / 10
              </span>
              <span class="w-33 text-end">Very high</span>
            </div>
          </div>

          <div class="d-flex justify-content-end mt-3 gap-3">
            <div class="text-warning text-small">
              <span
                *ngIf="!step?.highlightSections?.length"
                class="text-warning d-block"
              >
                Ops, before proceeding, you need to highlight at least one error
                in the text.<br />
              </span>
              <span *ngIf="!allInteracted()" class="text-warning d-block">
                Ops, before proceeding, you need to answer all the questions.
              </span>
            </div>
            <button
              class="btn btn-warning text-dark"
              (click)="toPostSurvey()"
              [disabled]="!allInteracted() || !step?.highlightSections?.length"
            >
              Next
            </button>
          </div>
        </div>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="state === status.FINISHED">
      <div class="w-md-100 mx-auto w-lg-75 mt-4">
        <h2>Thank You for participating</h2>

        <p class="mt-4">
          Please note that the texts you read during this study
          <strong>intentionally contained errors</strong>. You should not rely
          on them as accurate or trustworthy information.
        </p>

        <p class="mt-3">
          The goal of this study was to explore how people interact with text
          depending on how it is
          <strong>labeled and attributed</strong>, specifically, how authorship
          affects attention and perceptions of credibility.
        </p>

        <p class="mt-3">
          If you have any questions, would like to 
          report an issue, or want to
          share feedback about the experience, feel free to contact me at:
          <br />
          <a href="mailto:alessia.bogoni@stud-mail.uni-wuerzburg.de">
            alessia.bogoni&#64;stud-mail.uni-wuerzburg.de
          </a>
        </p>

        <p class="mt-4">
          When you're ready, click the button below to view the leaderboard.
        </p>

        <button class="btn btn-primary mt-2" (click)="showLeaderboard()">
          View Leaderboard
        </button>

        <hr class="my-4" />
      </div>
    </ng-container>

    <ng-container *ngIf="state === status.LEADERBOARD">
      <app-leaderboard></app-leaderboard>
    </ng-container>
  </div>
</ng-container>
