mark {
	padding: 0;
  border-radius: 3px;
  &.yellow {
    background: #00d86f;
    &.animated {
      background: linear-gradient(to right, #00d86f 50%, transparent 50%);
    }
  }
  &.green {
    background: #8affa7;
    &.animated {
      background: linear-gradient(to right, #8affa7 50%, transparent 50%);
    }
  }
  &.blue {
    background: #61dbff;
    &.animated {
      background: linear-gradient(to right, #61dbff 50%, transparent 50%);
    }
  }
  &.pink {
    background: #ffaae5;
    &.animated {
      background: linear-gradient(to right, #ffaae5 50%, transparent 50%);
    }
  }
  &.animated {
    background: transparent;
    background-position: right bottom !important;
    background-size: 200% 100% !important;
    transition: all .5s ease;
  }
  &.animate {
    background-position: left bottom !important;
  }
  &.removed {
	  color: inherit !important;
    background: inherit !important;
    background-color: inherit !important;
  }
}

.navbar {
  box-shadow: 0 0 10px rgba(0,0,0,0.25);
  border-bottom: 1px solid transparent;
  background: transparent;
  background-position: right bottom !important;
  background-size: 200% 100% !important;
  transition: all .25s ease;
  .container {
    .tool-bar {
      display: flex;
      width: 100%;
      .btn-yellow {
        color: #212529;
        background-color: #00d86f;
        border-color: #04af5d;
      }
      .btn-green {
        color: #212529;
        background-color: #8affa7;
        border-color: #00d234;
      }
      .btn-blue {
        color: #212529;
        background-color: #61dbff;
        border-color: #00b0e4;
      }
      .btn-pink {
        color: #212529;
        background-color: #ffaae5;
        border-color: #ff7dd7;
      }
      button {
        white-space: nowrap;
        & + button {
          margin-left: .25rem;
        }
      }
    }
  }
  &.yellow {
    background-color: #00d86f;
    background: linear-gradient(to right, #00d86f 50%, transparent 50%);
    border-bottom-color: #04af5d;
  }
  &.green {
    background-color: #8affa7;
    background: linear-gradient(to right, #8affa7 50%, transparent 50%);
    border-bottom-color: #00d234;
  }
  &.blue {
    background-color: #61dbff;
    background: linear-gradient(to right, #61dbff 50%, transparent 50%);
    border-bottom-color: #00b0e4;
  }
  &.pink {
    background-color: #ffaae5;
    border-bottom-color: #ff7dd7;
    background: linear-gradient(to right, #ffaae5 50%, transparent 50%);
  }
  &.animate {
    background-position: left bottom !important;
  }
}

.highlight-list {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  .highlight-list-item {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom:.25rem;
    opacity: 0;
    transform: translateX(15px);
    transition: all .2s;

    a {
      border: 1px solid #ddd;
      color: #666;
      border-radius: .25rem;
      padding: .125rem .5rem;
      margin-right: .5rem;
      transition: all .2s;
      &:hover {
        background: #ff0000;
        color: #fff;
      }
    }

    mark {
      margin-left: .5rem;
    }

    &.in {
      opacity: 1;
      transform: translateX(0px);
    }
  }
}
.highlight-list-heading {
  color: #777;
  border-bottom: 1px solid #ccc;
  margin-bottom: .5rem;
}
.invert {
  filter: invert(1);

}

.lighten {
  mix-blend-mode: lighten;
}

.bg-black-50 {
  background-color: rgba(0, 0, 0, 0.8) !important;
}

.object-fit {
  object-fit: cover
}
.text-success {
  color: #00d86f !important;
}
/* FINE DEL CSS CODEPEN */
