<div class="container">
  <div class="row">
    <div class="col-md-7">
      <div
        class="text-container"
        [appCstTracker]="'text-5'"
        [innerHTML]="textContent"
      ></div>
    </div>
    <div class="col-md-5">
      <h3 class="highlight-list-heading text-white text-center">
        Errors found
      </h3>
      <div class="highlight-list" id="highlightList">
        <div *ngFor="let section of highlightSections; let i = index">
          <a role="button" (click)="removeHighlight(i)">
            <i class="fa fa-times text-white"></i>
          </a>
          &nbsp;
          <mark class="bg-warning">{{ section.text }} </mark>
        </div>
        <i
          class="text-white pb-4 text-center opacity-75"
          *ngIf="!highlightSections.length"
        >
          Click or select on words and phrases you think are wrong or need
          improvement.
        </i>
      </div>
    </div>
  </div>
</div>
